<div class="flex justify-center items-center h-screen">
    <div class="bg-sky-800 shadow-md rounded-lg p-6 w-full max-w-lg">
        <h2 class="text-4xl font-bold mb-4 text-white text-center">Crear Plan de Entrenamiento</h2>
        <form>
            <div class="mb-4">
                <label for="user" class="block text-lg font-semibold mb-2 text-white">Usuario</label>
                <app-input></app-input>
            </div>
            <div class="mb-4">
                <label for="purpose" class="block text-lg font-semibold mb-2 text-white">Objetivo</label>
                <app-input></app-input>
            </div>
            <div class="mb-4">
                <label for="description" class="block text-lg font-semibold mb-2 text-white">Descripción</label>
                <app-input></app-input>
            </div>
            <div class="mb-4">
                <label for="frequency" class="block text-lg font-semibold mb-2 text-white">Frecuencia</label>
                <app-input></app-input>
            </div>
            <div class="mb-4">
                <label for="duration" class="block text-lg font-semibold mb-2 text-white">Duración</label>
                <app-input></app-input>
            </div>
            <div class="text-center">
                <app-button></app-button>
            </div>
        </form>
    </div>
</div>