<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1 style="margin-right: 10px; margin-top: 60px; color: #006494; font-family: 'Lato'; font-size: 48px; font-weight: bold;">Bienvenido Jhon Smith</h1><br>
      <h2 style="margin-right: 10px; color: #006494; font-family: 'Lato'; font-size: 40px; font-weight: bold;">Profesional</h2><br>


    <h2 style="margin-right: 10px; margin-top: 30px; color: #006494; font-family: 'Lato'; font-size: 32pxpx; font-weight: bold;">Ciudad y país de residencia:  Bogotá, Colombia</h2>
    <p class="d-inline-flex gap-1" style="margin-top: 40px;">
      <button type="button" class="btn">Crear servicio</button>
      <button type="button" class="btn">Mi calendario</button>
      <button type="button" class="btn" routerLink="/planentrenamiento">Crear plan de entrenamiento</button>
    </p>
    <p class="d-inline-flex gap-1" style="margin-top: 40px;">
      <button type="button" class="btn">Crear plan de alimentación</button>
      <button type="button" class="btn" routerLink="/historialentrenamiento">Ver historiales</button>
      <button type="button" class="btn">Crear sugerencias</button>
    </p>

    </div>
    </div>
    </div>


