<div class="container-fluid">
  <div class="row">
   <div>
    <h1 style="margin-top: 40px; font-size: 48px; color: #00355F;">Historial de entrenamientos</h1>
  <table class="table" style="margin-top: 20px;">
    <thead>
      <tr>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Fecha</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Deporte</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Tiempo</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Distancia</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Peso</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Intensidad</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Series</th>
        <th scope="col" style="font-size: 40px; color: #00355F; font-family: 'Lato', sans-serif; background-color: #B6DBEF;">Calorías</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        </tr>
      <tr>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        </tr>
      <tr>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'InriaSans-Regular', sans-serif;"></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
        <td style="background-color: #B6DBEF; font-size: 48px; color: #146C43; font-family: 'Inter-Medium', sans-serif; "></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>




