<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h2 style="margin-right: 10px; color: white; font-family: 'Lato'; font-size: 32px; font-weight: bold;">Escoger tipo de usuario</h2><br>
    </div>

    <div class="card" style="width: 737px; height: 300px; border: none;">
      <div class="card-body" style="background-color: #00355F">
        <select class="form-control" id="seleccion" name="seleccion"  style="background-color: #0582CA; width: 534px; color:white; font-size: 32px; font-family: 'Inter-Bold', sans-serif; border: none; border-radius: 20px;">
        <option value="opcion1">Seleccione una opción:</option>
        <option value="opcion1">Deportista</option>
        <option value="opcion2">Profesional de servicios complementarios</option>
        <option value="opcion3">Organizador de eventos</option>
      </select>

    </div>
    </div>

    <div class="col-12" style="margin-bottom: 10px; margin-top: 30px;">
      <button type="button" class="btn" routerLink="/inicioprofesional">Ir a mi perfil</button>
    </div>

  </div>
</div>






