<div class="container-fluid">
  <div class="row">

    <div class="col-12 text-center">

      <h2 style="margin-right: 10px; font-size: 48px;  margin-top: 40px; font-family:'Lato'; font-weight: bold; color: #00355F;">Crear plan de entrenamiento</h2><br>
    </div>

    <div class="form-group col-12" style="margin-bottom: 40px; margin-top: 20px;margin-right: 40px">
      <label class="col-3" for="seleccion" style="margin-right: 40px; margin-left: 20px; font-size: 32px; font-family: 'Lato'; font-weight: bold; color: #00355F;">Usuario:</label>
      <select class="form-control col-4" id="seleccion" name="seleccion"  style="background-color: #0582CA; width: 263px; color:white; font-size: 20px; font-family: 'Inter-Bold', sans-serif; border: none;">
        <option value="opcion1">Seleccione una opción:</option>
        <option value="opcion1">Jane Doe 1</option>
        <option value="opcion2">Jane Doe 2</option>
        <option value="opcion3">Jane Doe 3</option>
      </select>
    </div>


    <div class="col-12" style="margin-bottom: 20px; margin-top: 20px;">
      <label class="col-3" for="inputDate" style="margin-right: 40px; font-size: 32px; font-family: 'Lato'; font-weight: bold; color: #00355F;">Objetivo:</label>
      <input type="text" class="form-control col-4 text-center" id="inputDate" placeholder="" style="width: 538px; height: 57px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;">
    </div>

    <div class="col-12" style="margin-bottom: 20px; margin-top: 20px;">
      <label class="col-3" for="inputHour" style="margin-right: 40px; font-size: 32px; font-family: 'Lato'; font-weight: bold; color: #00355F;">Descripción:</label>
      <input type="text" class="form-control col-4 text-center" id="inputHour" placeholder="" style="width: 538px; height: 120px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;">
    </div>

    <div class="col-12" style="margin-bottom: 20px; margin-top: 20px;">
      <label class="col-3" for="inputDate" style="margin-right: 40px; font-size: 32px; font-family: 'Lato'; font-weight: bold; color: #00355F;" >Frecuencia:</label>
      <input type="text" class="form-control col-4 text-center" id="inputDate" placeholder="" style="width: 538px; height: 57px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;">
    </div>

    <div class="col-12" style="margin-bottom: 20px; margin-top: 20px;">
      <label class="col-3" for="inputPlace" style="margin-right: 40px; font-size: 32px; font-family: 'Lato'; font-weight: bold; color: #00355F;">Duración:</label>
      <input type="text" class="form-control col-4 text-center" id="inputPlace" placeholder="" style="width: 538px; height: 57px; font-size: 48px; font-family: 'Inter-Thin', sans-serif;">
    </div>



    <div class="col-12" style="margin-bottom: 10px;">
      <button type="button" class="btn" routerLink="/creadacita">Crear</button>
    </div>

  </div>
</div>
