<div class="container-fluid">
  <div class="row" style="margin-left: 200px;">
  <div class="col-6">
  <p style=" margin-top: 100px; font-weight: bold; font-size: 40px; color: white; width: 560px;">Una aplicación que te acompaña a cumplir tus objetivos deportivos.</p>
  <p style="font-weight: medium; font-size: 32px; color: white; width: 560px;">SportApp se enfoca en crear rutinas de entrenamiento y de alimentación a deportistas no profesionales, teniendo en cuenta las condiciones demograficas y fisiológicas de la población latinoamericana.</p>
  <button type="button" routerLink="/tipousuario" class="btn" style="background-color: #006494; width: 272px; height: 73px; margin-top: 10px;">Inicia sesión</button>
  <a href="#" style="margin-top: 10px; margin-left: 20px; color: #00355F; text-decoration: underline; font-family: 'Lato'; font-weight: bold; font-size: 32px;">ó Registrate aquí</a>
</div>
  <img src="assets/inicio.png" alt="Home" class="img-fluid" style="width: 350px; height: 646px; margin-top: 80px;">

</div>
</div>

