/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(180,218,240);
}
